@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: pink;
    text-align: center;
}

.quiz-container {
    margin-top: 50px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size: 18px;
    transition: 0.3s;
}

button.correct {
    background-color: green;
}

button.wrong {
    background-color: red;
}
